<h3> View Employee Details</h3>
<div>
    <div>
        <label> <b> First Name: </b></label> {{employee.firstName}}
    </div>
    <div>
        <label> <b> Last Name: </b></label> {{employee.lastName}}
    </div>
    <div>
        <label> <b> Email Id: </b></label> {{employee.emailId}}
    </div>
    <div *ngFor="let add of eAddress">
        <div><label> <b> City: </b></label> {{add.city}}</div>
    
        <div><label> <b> Address Type : </b></label> {{add.addressType}}</div>
    </div>
</div>